
$petrol: #25828f;
$burgundy: #793d54;
$brown: #956064;
$grey-blue: #b8cbe8;
$light-blue: #c0e0f2;
$parma: #9780a1;
$blue: #89a1dc;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
